<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../static/img/logo.png" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/parceiros.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Parceiros</title>
</head>

<body>
    <header>
      <div class="textos-header">
        <a href="index.html">Home</a>
        <a href="">Quem Somos</a>
        <a href="parceiros.html">Parceirias</a>
        <a href="contato.html">Contatos</a>
        <a href="">Serviços</a>
      </div>
      <a href="../views/index.html"
        ><img src="../static/img/logo.png" alt="inovatech logo"
      /></a>
    </header>

    <main>
        <section class="parceiros">
            <h1 class="titulo">Nossos Parceiros</h1>
        
            <div class="carrossel-slider">

                <div class="carrossel-track">
                    
                    <div class="carrossel-item">
                        <img src="/static/img/microsoft logo 1.png" alt="microsoft">
                    </div>

                    <div class="carrossel-item">
                        <img src="/static/img/logo amazon 1.png" alt="amazon">
                    </div>

                    <div class="carrossel-item">
                        <img src="/static/img/logo-google-256 1.png" alt="google">
                    </div>

                    <div class="carrossel-item">
                        <img src="/static/img/logo orcestra 1.png" alt="orcestra">
                    </div>

                    <div class="carrossel-item">
                        <img src="/static/img/logo-ibm-256 1.png" alt="IBM">
                    </div>
                    
                    <div class="carrossel-item">
                        <img src="/static/img/github-256 1.png" alt="Git hub">
                    </div>

                    <div class="carrossel-item">
                        <img src="/static/img/logo-dell.png" alt="Dell">
                    </div>

                </div>
            </div>
        </section>
        
    </main>

    <footer>
      <div class="textos-footer">
        <div>
          <h1>Inovatech</h1>
          <h2>
            Chegou a hora de dar vida ao seu projeto. Conte com a nossa
            expertise. Vamos conversar?
          </h2>
          <button>Entre em contato</button>
          <p class="aviso">
            Esse projeto foi feito durante o processo trainee.
          </p>
        </div>
        <div class="footer-informaçao">
          <div>
            <p>Email:</p>
            <p>inovatech@gmail.com</p>
          </div>
          <div>
            <p>Telefone:</p>
            <p>(61) 97887-1209</p>
          </div>
          <div>
            <p>Instagram:</p>
            <p>inova.tech</p>
          </div>
          <div>
            <p>Tiktok:</p>
            <p>inova.techoficial</p>
          </div>
        </div>
      </div>
      <div class="footer-links">
        <a href="index.html">Home</a>
        <a href="">Quem Somos</a>
        <a href="">Parceirias</a>
        <a href="contato.html">Contatos</a>
        <a href="">Serviços</a>
      </div>
    </footer>

</body>

</html>