<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quem Somos - InovaTech</title>
    <link rel="icon" type="image/png" href="../static/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Caminhos corrigidos -->
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/quem-somos.css" />
  </head>
  <body>
    <header>
      <div class="textos-header">
        <a href="/index.html">Home</a>
        <a href="/views/quem-somos.html">Quem Somos</a>
        <a href="/views/parceiros.html">Parceirias</a>
        <a href="/views/contato.html">Contatos</a>
        <a href="/views/servicos.html">Serviços</a>
      </div>

      <a href="/index.html">
        <img src="../static/img/logo.png" alt="Inovatech logo" />
      </a>
    </header>

    <main>
      <section class="quem-somos">
        <h1>QUEM SOMOS?</h1>
        <p class="descricao">
          Na Inovatech, somos mais do que desenvolvedores, somos arquitetos do
          futuro digital. Nossa paixão é transformar ideias ousadas em softwares
          poderosos que não apenas resolvem problemas complexos, mas também
          redefinem possibilidades.
        </p>

        <h2 class="titulo-diretoria">NOSSA DIRETORIA</h2>
        <div class="diretoria">
          <div class="card">
            <img src="../static/img/avatar1.png" alt="Jéssica Alves - CEO" />
            <p>JÉSSICA ALVES - CEO</p>
          </div>
          <div class="card">
            <img src="../static/img/avatar2.png" alt="Rodrigo Mendes - CTO" />
            <p>RODRIGO MENDES - CTO</p>
          </div>
          <div class="card">
            <img src="../static/img/avatar3.png" alt="Sara Costa - CFO" />
            <p>SARA COSTA - CFO</p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="textos-footer">
        <div>
          <h1>Inovatech</h1>
          <h2>
            Chegou a hora de dar vida ao seu projeto. Conte com a nossa
            expertise. Vamos conversar?
          </h2>
          <button type="button" class="button-contato" onclick="window.location.href='contato.html'">Entre em contato</button>
          <p class="aviso">
            Esse projeto foi feito durante o processo trainee.
          </p>
        </div>
        <div class="footer-informaçao">
          <div>
            <p>Email:</p>
            <p>inovatech@gmail.com</p>
          </div>
          <div>
            <p>Telefone:</p>
            <p>(61) 97887-1209</p>
          </div>
          <div>
            <p>Instagram:</p>
            <p>inova.tech</p>
          </div>
          <div>
            <p>Tiktok:</p>
            <p>inova.techoficial</p>
          </div>
        </div>
      </div>
      <div class="footer-links">
        <a href="/index.html">Home</a>
        <a href="quem-somos.html">Quem Somos</a>
        <a href="parceiros.html">Parcerias</a>
        <a href="contato.html">Contatos</a>
        <a href="servicos.html">Serviços</a>
      </div>
    </footer>
  </body>
</html>
