<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Serviços</title>
    <link rel="icon" type="image/png" href="../static/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/servicos.css" 
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../static/styles/home.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <div class="textos-header">
        <a href="/index.html">Home</a>
        <a href="/views/quem-somos.html">Quem Somos</a>
        <a href="/views/parceiros.html">Parceirias</a>
        <a href="/views/contato.html">Contatos</a>
        <a href="/views/servicos.html">Serviços</a>
      </div>
      <a href="/index.html"
        ><img src="../static/img/logo.png" alt="inovatech logo"
      /></a>
    </header>
    <main>
      <section class="servicos">
        
        <h1>NOSSOS SERVIÇOS</h1>

        <div class="servicos-grid">

            <article class="servico-card">
                <img src="../static/img/Desenvolvimento.png" alt="Ícone de Desenvolvimento de Software sob Medida">
                <h2>Desenvolvimento de Software Sob Medida</h2>
                <p>Transformamos sua visão em realidade com soluções robustas e escaláveis, 
                   projetadas exclusivamente para os desafios do seu negócio.</p>
            </article>

            <article class="servico-card">
                <img src="../static/img/Solucoes.png" alt="Ícone de Soluções Personalizadas e Aceleração Digital">
                <h2>Soluções Personalizadas e Aceleração Digital</h2>
                <p>Impulsionamos sua empresa para o futuro, otimizando processos e 
                   implementando as ferramentas certas para sua transformação digital.</p>
            </article>

            <article class="servico-card">
                <img src="../static/img/Consultoria.png" alt="Ícone de Consultoria Estratégica e Concepção">
                <h2>Consultoria Estratégica e Concepção</h2>
                <p>Alinhamos tecnologia à sua estratégia de negócio, criando 
                   um roadmap claro desde a concepção da ideia até o lançamento do produto.</p>
            </article>

        </div>
    </section>
    </main>

    <footer>
      <div class="textos-footer">
        <div>
          <h1>Inovatech</h1>
          <h2>
            Chegou a hora de dar vida ao seu projeto. Conte com a nossa
            expertise. Vamos conversar?
          </h2>
          <button type="button" class="button-contato" onclick="window.location.href='contato.html'">Entre em contato</button>
          <p class="aviso">
            Esse projeto foi feito durante o processo trainee.
          </p>
        </div>
        <div class="footer-informaçao">
          <div>
            <p>Email:</p>
            <p>inovatech@gmail.com</p>
          </div>
          <div>
            <p>Telefone:</p>
            <p>(61) 97887-1209</p>
          </div>
          <div>
            <p>Instagram:</p>
            <p>inova.tech</p>
          </div>
          <div>
            <p>Tiktok:</p>
            <p>inova.techoficial</p>
          </div>
        </div>
      </div>
      <div class="footer-links">
        <a href="/index.html">Home</a>
        <a href="quem-somos.html">Quem Somos</a>
        <a href="parceiros.html">Parceirias</a>
        <a href="contato.html">Contatos</a>
        <a href="servicos.html">Serviços</a>
      </div>
    </footer>
  </body>
</html>
