/* Esse arquivo é apenas para a estilização do header e do footer, não mexer nele em relação a outra funcionalide/tela */


@font-face {
    font-family: 'Minicomputer';
    src: url('../fonts/Minicomputer-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minicomputer';
    src: url('../fonts/Minicomputer-Bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --amarelo: #eefa45;
    --verde-cor-3: #133842;
    --verde-cor-2: #0A3041;
    --branco-fundo: #EFEFEF;
    --branco-padrao: #FFFFFF;
    --fonte-titulo: 'Minicomputer';
    --fonte-texto: 'Space Grotesk', sans-serif;
}

body {
    width: 100vw;
    background-color: var(--branco-fundo);
    margin: 0;
    overflow-x: hidden;
}

header {
    height: 144px;
    background-color: var(--branco-padrao);
    display: flex;
    align-items: center;
    padding: 0 48px;
}

.textos-header {
    display: flex;
    gap: 48px;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 36px;
    flex-grow: 1;
}

header a {
    text-decoration: none;
    position: relative;
    color: #0A3041;
    transition: transform 0.3s ease;
    background-color: transparent;
}

header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #0A3041;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease ;
}

header a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

header a:active {
    color: #eefa45;
}

header a:active::after {
    background-color: #eefa45;
}



header img {
    margin-left: auto;
}


footer {
    background-color: var(--verde-cor-3);
    color: var(--branco-padrao);
    font-family: var(--fonte-texto);
    font-weight: normal;
    height: 466px;
    padding: 40px 48px;
}

.textos-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h1 {
    font-weight: bold;
    font-size: 48px;
    margin: auto;
}

footer h2 {
    font-weight: normal;
    font-size: 24px;
    max-width: 660px;
    margin: auto 0;
}

footer button {
    background-color: #eefa45;
    color: var(--verde-cor-3);
    font-family: var(--fonte-texto);
    font-weight: normal;
    border: 4px solid transparent;
    border-radius: 15px;
    width: 344px;
    height: 64px;
    font-size: 28px;
    margin-top: 36px;
}

.button-contato:hover {
  border-color: var(--branco-padrao);
}

.button-contato:active {
    border-color: #eefa45;
    background-color: var(--branco-fundo)
}

.aviso {
    font-weight: normal;
    font-size: 16px;
    margin-top: 40px;
}

.footer-informaçao div {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 28px;
    margin-right: 20px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 64px;
}

.footer-links a {
    text-decoration: none;
    color: var(--branco-padrao);
    position: relative;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 32px;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--branco-padrao);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease ;
}

.footer-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.footer-links a:active {
    color: #eefa45;
}

.footer-links a:active::after {
    background-color: #eefa45;
}
