@font-face {
  font-family: "Minicomputer";
  src: url("../fonts/Minicomputer-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minicomputer";
  src: url("../fonts/Minicomputer-Bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --amarelo: #eefa45;
  --verde-cor-3: #133842;
  --verde-cor-2: #0a3041;
  --branco-fundo: #efefef;
  --branco-padrao: #ffffff;
  --fonte-titulo: "Minicomputer";
  --fonte-texto: "Space Grotesk", sans-serif;
}


.titulo {
  font-family: var(--fonte-titulo);
  font-size: 48px;
  font-weight: bold;
  color: #0a3041;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px ;
  text-transform: uppercase;
}
.parceiros {
    width: 100%;
    margin: 40px auto;
    overflow: hidden;
    margin-bottom: 200px;
}

.carrossel-slider{
    background-color: white;
    padding: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: grab;
    user-select: none;
}
.carrossel-slider::-webkit-scrollbar {
    display: none; 
}
.carrossel-slider.active {
    cursor: grabbing;
    
}

.carrossel-track{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 20px;
}

.carrossel-item{
    flex-shrink: 0;
    margin: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px){
    body{
        text-align: center;
    }
    .carrossel-slider{
        padding: 10px 0;
    }
    .carrossel-item img{
        max-height: 175px;
    }
}