.servicos {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

.servicos h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    color:#0A3041; 
    font-family: var(--fonte-texto);
}

.servicos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.servico-card {
    background-color: var(--branco-padrao); 
    border: 1px solid #EFEFEF;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.servico-card img {
    height: 70px;
    margin-bottom: 20px;
}

.servico-card h2 {
    font-size: 1.25rem;
    
    font-family: var(--fonte-titulo); 
    color: #000000;
    margin-bottom: 15px;
}

.servico-card p {
    font-size: 0.9rem;
  
    font-family: var(--fonte-texto); 
    color: #0a3041;
    line-height: 1.6;
}